.selected{
    background-color:#eee;
}

.create-game-container{
    background-color:white;
    bottom:0px;
    border:1px solid #eee;
    position:fixed;
    text-align:center;
}

#create-form{
    margin-top:14px;
}