{% extends "base.html" %}

{% block header_css %}
  <link href="{{ STATIC_URL }}css/contacts.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="more-margin-top more-margin-bottom">
    <a class="btn btn-block btn-info" href="{% url 'create_game' %}">Start a new game</a>
  </div>

  <table class="table table-bordered table-hover games-table">
    <thead>
      <tr>
        <th>Rd</th>
        </th><th colspan="2">Current Games</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr class="games-table-row" url="{% url 'game' game.id %}">
        <td class="round-col">
          {{ game.current_turn.num }}
        </td>
        <td class="players-col">
            <div class="game-photos">
              {% for user in game.users.all %}
                  <img class="user-image" width="20" title="{{ user.first_name }} {{ user.last_name }}" src="{{ user.facebooksession_set.all.0.picture_url }}" />
              {% endfor %}
            </div>
        </td>
        <td class="game-status-col">
          {% if game.current_turn.status == 0 %}
            {% if user == game.current_turn.judge %}
              Choose a topic
            {% else %}
              Waiting for next topic
            {% endif %}
          {% elif game.current_turn.status == 1 %}
            {% if user == game.current_turn.judge %}
              Choose a winner!
            {% else %}
              Draw "{{ game.current_turn.game_topic.topic.text }}"
            {% endif %}
          {% elif game.current_turn.status == 2 %}
            {% if user == game.current_turn.judge %}
              Turn ended
            {% else %}
              Turn ended
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-bordered table-hover games-table">
    <thead>
      <tr>
        <th>Rd</th>
        <th colspan="2">Completed Games</th>
      </tr>
    </thead>
    <tbody>
      {% for game in completed_games %}
      <tr class="games-table-row" url="{% url 'game' game.id %}">
        <td class="round-col">
          {{ game.current_turn.num }}
        </td>
        <td class="players-col">
          <a href="{% url 'game' game.id %}">
            <div class="game-photos">
              {% for user in game.users.all %}
                  <img class="user-image" width="20" title="{{ user.first_name }} {{ user.last_name }}" src="{{ user.facebooksession_set.all.0.picture_url }}" />
              {% endfor %}
            </div>
          </a>
        </td>
        <td>
          {{ game.winner.user.first_name }} {{ game.winner.user.last_name }}  won!
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.user-image').tooltip({

      })

    $('.games-table tbody tr.games-table-row').click(function(){
        var url = $(this).attr('url');
        if(url) {
          window.location = url;
        }
      });
    });
  </script>
{% endblock %}