{% extends "base.html" %}

{% block header_css %}
  <link href="{{ STATIC_URL }}css/contacts.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  {% if game.current_turn.status == 0 %}
    <p>Waiting for {{ game.current_turn.judge.first_name }} {{ game.current_turn.judge.last_name }} to start next round</p>
  {% elif game.current_turn.status == 1 %}
    <h5>Waiting on submissions for {{ game.current_turn.game_topic.topic.text }}</h5>
  {% endif %}

  <h5>
    {% if game.completed %}
      {{ game.winner.user.first_name }} {{  game.winner.user.last_name }} won!
    {% else %}
      Current standings {% if prev_turn %}after round {{ prev_turn.num }}{% endif %}
    {% endif %}
  </h5>
  <table id="points_table" class="table table-bordered">
    {% for p in players %}
    <tr>
      <td {% if p == prev_turn.winner.player %}class="winner"{% endif %}>
        {{ p.user.first_name }} {{ p.user.last_name }}
      </td>
      <td {% if p == prev_turn.winner.player %}class="winner"{% endif %}>
        {{ p.points }}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if turns %}
  <h5>Previous Turns</h5>
  <div class="pagination">
    <ul>
      <li class=""><a href="{% url 'games' %}">Home</a></li>
      {% for turn in turns %}
      <li>
        <a href="{% url 'turn' game.id turn.id %}">{{ turn.num }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="pagination">
    <ul>
      <li class=""><a href="{% url 'games' %}">Home</a></li>
    </ul>
  </div>
  {% endif %}

{% endblock %}