{% extends "base.html" %}

{% block header_css %}
  <link href="{{ STATIC_URL }}css/contacts.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_js %}
{% endblock %}

{% block title %}
Viewing submissions
{% endblock %}


{% block content %}
  {% if submissions %}
    <h3>submissions for {{ turn.game_topic.topic.text }}</h3>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <div id="canvasSimpleToolsDivOuter">
      <div id="drawing-carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          {% for submission in submissions %}
            <div class="{% if forloop.first %}active {% endif %}item" name="{{ submission.id }}" {% if turn.winner == submission %}data-winner=true{% endif %}>
              <div class="canvasSimpleToolsDiv" name="{{ forloop.counter0 }}">
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#drawing-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#drawing-carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    {% if judge %}
      <form id="submission-form" class="margin-top" action="{% url 'game' game.id %}" method="post">
        {% csrf_token %}
        <div class="hidden">
          {{ sub_choice_form.submission }}
        </div>
        <button id="submit-btn" class="btn btn-primary">Select winner</button>
      </form>
    {% endif %}
  {% else %}
  <h4>Waiting on submissions for {{ turn.game_topic.topic.text }}</h4>
  {% endif %}
  {% if show_turn_nav %}
  <h3>Turns</h3>
  <div class="pagination">
    <ul>
      {% for turn in turns %}
        {% if not forloop.last %}
          <li>
            <a href="{% url 'turn' game.id turn.id %}">{{ turn.num }}</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'turn' game.id turn.id %}">Current</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}

{% block footer_js %}
  <script src="{{ STATIC_URL }}js/contacts.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/html5-canvas-drawing-app-simple.js"></script>
  {% if submissions %}
  <script type="text/javascript">
      $(document).ready(function(){
        var submissions = {{ submissions_json|safe }};
        for(var i=0; i<submissions.length; i++){
          drawingApp.drawImage(submissions[i]['fields']['clickX'],
                                submissions[i]['fields']['clickY'],
                                submissions[i]['fields']['clickColor'],
                                submissions[i]['fields']['clickSize'],
                                submissions[i]['fields']['clickDrag'],
                                i);
        }

        $('.carousel').carousel({
          interval:false
        });
    });
  </script>
  {% endif %}
{% endblock %}
